/* Variables */
$font-josefin: 'Josefin Sans', sans-serif;
$font-lobster: 'Lobster', cursive;
$font-rampart: 'Rampart One', cursive;
$font-secular: 'Secular One', sans-serif;
$font-merriweather: 'Merriweather', serif;
$productos-padding: 2%;
$productos-max-width: 1200px;
$productos-card-width: 300px;
$productos-card-margin: 20px;