/*********footer********/
footer {
    background-color: #ECE8DD;
    color: #000000;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .adress {
        font-size: 25px;
        padding: 0 20px;
    }

    ul {
        list-style: none;
    }
}